PORT=3001

# SQL Server
DB_SERVER=localhost
DB_DATABASE=Broken Pocket
DB_USER=Clientes
DB_PASSWORD=1234
DB_PORT=1433
DB_ENCRYPT=false
DB_TRUST_CERT=true

# Empleado por defecto para órdenes web
DEFAULT_EMPLEADO_ID=EMP4
